# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
/web/*.log
/models/_Rolesimport.php
/web/upload
/models/*.old

*local.php
/web/bitrix

.bash_logout
.bashrc
.cache
.profile
.ssh
/config/dbask2old.php
